

@font-face {
    font-family: fan;
    src: url(./MorrisRoman-Black.ttf);
  }
.champ-label{
    display: inline-block;
    position: fixed;
    top: 40;
    left: 200;
    z-index: 100;
    background-color: white;
    border: solid 1px black;
    padding: 2px;
    border-radius: 4px;
    pointer-events: none;
}

.search-div{
    position: relative;
    width: 200px;
    top: 0;
    left: 0;
}
.search-div input[type=text] {
    width: 100%;
    padding: 6px;
    border: none;
    border-bottom: solid 1px #999;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
.yaxis-label {
    transform: rotate(-90deg);
    text-anchor: middle;
    font-family: sans-serif;
    font-size: 8pt;
    font-weight: bold;
 }
 .xaxis-label {
    text-anchor: middle;
    font-family: sans-serif;
    font-size: 8pt;
    font-weight: bold;
 }
#results{
    position: absolute;
    width: 100%;
    background-color: white;
}
#results p{
    text-align: left;
    padding: 4px 2px;
    margin: 0;
    border: solid 1px #ffffff;
}
#results p:hover{
    cursor: pointer;
    border: solid 1px #46f;
}
.voronoi:hover{
    cursor: pointer;
}
#main-holder{
    position: relative;
    margin: 0 auto;
    text-align: center;
}
#charts{
    background-color: rgba(255, 255, 255, 0.863);
    padding: 10px;
    display: inline-block;
}
#champ-data{
    color: white;
    border: 1px solid #876a3b;
    background-color: rgba(0,0,0,.6);
    padding: 10px;
    margin-top: 50px;
    width: 400px;
    vertical-align: top;
    display: inline-block;
}
#champ-data img{
    float: left;
    text-align: left;
}
#champ-data h2{
    margin: 0;
    float: right;
    text-align: right;
}
#controls{
    float: left;
}
#controls label{
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: left;
}
#controls .control-label{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 175px;
    text-align: left;
}
#stackedBar{
    padding-top: 20px;
    display: inline-block;
}
#champ-info{
    vertical-align: top;
    display: inline-block;
    text-align: left;
}
#summary{
    margin: 0 auto;
    text-align: center;
    position: relative;
}
#summary p{
    color: white;
    margin: 40px auto;
    max-width: 600px;
    text-align: left;
    position: relative;
}
#sumary-inner{
    display: inline-block;
}
#background{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: black;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url(https://lolstatic-a.akamaihd.net/lolkit/1.1.6/resources/images/bg-default.jpg);
    height: 100vh;
    width: 100vw;
}
.label{
    color: white;
    fill: white;
}
header{
    font-family: 'fan';
}
header h2{
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    margin-left: 50px;
    color: #b4922b;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
    font-size: 3em;
}
#button-holder{
    margin: 0 auto;
    text-align: center;
}
button{
    cursor: pointer;
    outline: inherit;
    border: none;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: rgba(0,0,0,.6);
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 50px;
}